{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}ویرایش مشخصات{% endblock %}
{% block content %}
    <section class="container mx-auto my-3 w-75">
        <div class="row my-3 bg-light border rounded w-75 mx-autho">
            <form class="my-4" action="" method="post">
                {% csrf_token %}
                {{ form |crispy }}
                <a href="{% url 'accounts:address-create' %}" role="button" class="btn btn-primary mt-2"
                   data-url="{% url 'accounts:address-create' %}"
                   id="add" onclick="return showAddPopup(this);">
                    افزودن آدرس
                </a>
                <button type="submit" class="btn btn-success mt-2">تایید</button>
            </form>

        </div>
    </section>
{% endblock %}