{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log Out{% endblock %}
{% block content %}
    <div class="container m-auto text-center my-5 w-50" style="background-color: lavender;border-radius: 20px;">
        <h1>خروج</h1>
        <p>برای خروج مطمئن  هستید؟</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger my-5" type="submit">خروج</button>
        </form>
    </div>
{% endblock content %}

{#<div class="modal-dialog modal-lg">#}
{#    <div class="modal-content">#}
{#                <p>برای خروج مطمئن  هستید؟</p>#}
{#        <form method="post" action="{% url 'account_logout' %}">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <button class="btn btn-danger my-5" type="submit">خروج</button>#}
{#        </form>#}
{#        <script>#}
{#                var form_options = {#}
{#                    target: '#modal',#}
{#                    success: function() {  }#}
{#                }#}
{#                $('#item_update_form').ajaxForm(form_options);#}
{#        </script>#}
{#    </div><!-- /.modal-content -->#}
{#</div><!-- /.modal-dialog -->#}