{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}فراموشی رمز عبور{% endblock title %}
{% block content %}
    <div class="container text-center m-auto my-5 text-white">
        <h1>رمز عبور خود را فراموش کرده اید؟</h1>
        <h5>لطفا نشانی رایانامه خود را وارد کنید تا دستورالعمل بازنشانی رمز برای شما ارسال شود</h5>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <div class="row" style="background-color: lavender;border-radius: 20px;">
            <h2 class="my-3">بازیابی رمز عبور</h2>
            <div class="col">
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success my-3" type="submit">ارسال دستورالعمل</button>
            </form>
            </div>
        </div>
    </div>
{% endblock content %}