{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}تغییر رمز عبور{% endblock title %}
{% block content %}
    <div class="container d-flex justify-content-center my-5 w-50">
        <div class="row" style="background-color: lavender;border-radius: 20px;">
            <h1 class="mx-5 mt-5">تغییر رمز عبور</h1>
            <p class="mx-5">ابتدا برای امنیت بیشتر رمز عبور پیشین خود و سپس رمز عبور جدید را وارد کنید.</p>
            <div class="col">
                <form class="px-5" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success ml-2 mt-3 mb-5" type="submit">ارسال</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}