{% extends '_base.html' %}
{% load i18n %}
{% load account %}

{% block head_title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
    <div class="container text-center my-5 p-4 w-50 bg-light" style="border-radius: 10px;">
        <h1>بازنشانی رمز عبور</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}یک ایمیل حاوی لینک تغییر رمز برای شما ارسال شد. لطفاٌ اگر ایمیل را دریافت نکردید با ما تماس
            بگیرید{% endblocktrans %}</p>
    </div>
{% endblock %}