@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
url('../fonts/Vazir.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */


.navbar {
    background-color: lightsteelblue !important;
}
