
.table {
    border-radius: 10px;
    border-collapse: separate;
    border-spacing:0 20px;
}
.table tr{
    background-color: #ddffdd;!important;
}

.table .card img {
    max-height:100%;
    max-width: 50%;
}
.table .card a{
    color: #264b5d;
    text-decoration: none;
}
.table .card #title-a:hover{
    color: #ffffcc;
    background-color: #00363a;
}