{% extends '_base.html' %}
{% block title %}تکمیل سفارش{% endblock %}
{% block content %}
    <section class="container m-5" style="background-color: blanchedalmond">
        <h3 class="text-center">تکمیل سفارش</h3>
        <div class="row justify-content-center align-items-center">
            <form class="col-8 m-5" method="post">
                {% csrf_token %}
                <p class="form-control">{{ form.delivery_address }}</p>
                <p class="form-control">{{ form.discount }}</p>

                <p>مبلغ قابل پرداخت: {{ order.get_order_price }}</p>

                <button type="submit" class="btn btn-primary">ثبت سفارش</button>
            </form>
        </div>
    </section>
{% endblock %}