{% extends '_base.html' %}
{% load static %}
{% block title %}تکمیل سفارش{% endblock %}
{% block content %}
    <section class="container m-5" style="background-color: blanchedalmond">
        <div>
            <h3 class="text-center">تکمیل سفارش</h3>
            <div class="row justify-content-center align-items-center">
                <form method='POST' action='' enctype="multipart/form-data" novalidate id="book-form" class="col-8 m-5" method="post">
                    {% csrf_token %}
                    <h5 class="text-danger">{{ form.non_field_errors }}</h5>
                    <label for="book-author" class="control-label">آدرس:</label>
                    {{ form.delivery_address }}
                    <a href="{% url 'accounts:address-create' %}" id="add" onclick="return showAddPopup(this);">
                        <i class="fas fa-plus"></i>
                    </a>
{#                    {% if order.delivery_address %}:#}
{#                        <a href="{% url "accounts:address-update" order.delivery_address.pk %}" id="edit_author"#}
{#                           style="cursor: pointer; cursor: hand;">#}
{#                            <i class="fas fa-edit"></i></a>#}
{#                    {% endif %}#}
                    <br><br>
                    <h5 class="text-danger">{{ form.discount.errors }}</h5>
                    <div>
                        <input id="disc-input" title="کدتخفیف" type="text" class="form-control" name="discount" placeholder="اگر کد تخفیف دارید وارد کنید">
                        <button id="disc_btn" data-url = {% url 'order-send' form.instance.id %} type="button"
                                data-order ='{{ form.instance.id }}'
                                class="btn btn-primary">بررسی تخفیف</button>
                    </div>
                    <h5 id="total-order"> مبلغ قابل پرداخت: {{ order.get_order_price }}</h5>
                    <br><br>
                    <button id="submit-order" type="submit" class="btn btn-primary">تایید</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}