{% extends '_base.html' %}
{% block title %}تکمیل سفارش{% endblock %}
{% block content %}
    <form>
  <div class="mb-3">
    <label for="address" class="form-label">آدرس</label>
    <input type="text" class="form-control" id="address" aria-describedby="note">
    <div id="note" class="form-text">لطفاٌ آدرس خود را انتخاب کنید یا آدرس جدید وارد کنید</div>
  </div>
  <div class="mb-3">
    <label for="discount" class="form-label">کدتخفیف</label>
    <input type="password" class="form-control" id="discount">
  </div>
{#  <div class="mb-3 form-check">#}
{#    <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#    <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#  </div>#}
  <button type="submit" class="btn btn-primary">ثبت سفارش</button>
</form>
{% endblock %}