{% extends "_base.html" %}
{% load static %}
{% block title %}خلاصه سفارشات{% endblock %}
{% block content %}

<main class="pt-5">
    <h1 class="text-center text-white">خلاصه سفارشات</h1>
  <div class="container p-3" style="background-color: aquamarine; border-radius: 20px;">
    {% for item in basket %}
    {% with book=item.book %}
    <div data-index="{{book.id}}" class="row mb-4 border book-item m-3 bg-light" style="border-radius: 10px;">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
          <a href="{% url 'detail' book.slug %}">
              <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ book.image.url }}">
          </a>
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ book.get_absolute_url }}" class="text-decoration-none text-reset">
          <a id="title" class="text-decoration-none" href="{% url 'detail' book.slug %}"><h1 class="h5 pt-2">{{ book.title }}</h1></a>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6 h5">قیمت: </div>
              <div class="col-6 text-end">
                  <span class="h6 fw-bold">
                      {% if object.max_cash_off or book.percent_off %}
                      <del class="text-danger">{{ book.price }}</del>  {{ book.get_final_price }}
                      {% else %}
                        {{ book.get_final_price }}
                      {% endif %}
                  </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <form class="col-12" method="post">
                  {% csrf_token %}
                <label for="number">تعداد</label>
                <input id="number{{ book.id }}" type="number" value="{{item.quantity}}" min="1" step="1" max="{{ book.quantity }}">
                  {% csrf_token %}
                <button type="button" id="update-button" data-index="{{book.id}}"
                  class="btn btn-primary btn-outline-secondary btn-sm update-button text-light px-3">
                  بروزرسانی
                </button>
                  <input type="hidden" id="Url-up" data-url="{% url 'update' %}" />
                <button type="button" id="delete-button" data-index="{{book.id}}"
                  class="btn btn-danger btn-outline-secondary btn-sm delete-button text-light">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                  <input type="hidden" id="Url-del" data-url="{% url 'delete' %}" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  {% with num=basket|length%}
  {% if num > 0 %}
    <div class="col-12 text-end">
      <div class="h4 fw-bold text-primary border rounded p-2 bg-light">
        <form class="row" method="post">
            {% csrf_token %}

          <div class="col d-inline-flex mx-3">جمع خرید:<span class="me-3" id="total">{{basket.get_total_price}}</span></div>
          <button  type="button" id="basket-login" data-index="{{basket.session.pk}}"
              class="col-3 btn btn-outline-secondary btn-sm btn btn-success text-white mx-3">
              ورود و ادامه خرید
          </button>
        </form>
      </div>
        {% else %}
        <h3 class="text-primary text-center">سبد خرید شما خالی است</h3>
  {% endif %}
  {% endwith %}

    </div>
  </div>
</main>
{% endblock %}