{% extends '_base.html' %}
{% block title %}جزییات {{ object.title }} {% endblock %}

{% block content %}
    <div class="container m-auto mt-5">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
                <figure class="figure">
                    <img src="{{ object.image.url }}" class="img-fluid rounded-start" alt="{{ object.title }}">
                    <figcaption class="figure-caption me-3">
                        دسته ها:
                        {% for cat in object.categories.all %}
                            <a class="text-decoration-none text-Primary" href="{% url 'category_detail' cat.slug %}">{{ cat }}</a> |
                        {% endfor %}
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                  <div class="container">
                      <div class="row">
                          <div class="col">
                              <p>نویسنده: {{ object.authors }}</p>
                              <p>وضعیت موجودی: {% if object.quantity >= 1 %}
                                  <span class="text-success"><b>موجود</b></span>
                                  {% else %}
                                    <span class="text-muted">نا موجود</span>
                              {% endif %}</p>
                          </div>

                      </div>

                  </div>
                    <div class="border rounded p-3 border-success">
                        <h5>توضیحات: </h5>
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                    <div class="container mt-3 p-3" style="border-radius: 10px; background-color: #ddffdd;">
                        <div class="row">
                            <div class="col">
                                <h5>قیمت:</h5> {% if object.max_cash_off or object.percent_off %}
                                    <del class="text-danger">{{ object.price }}</del>
                                    <span class="text-primary"><b>{{ object.get_final_price }}</b></span>
                                {% else %}
                                    <p>{{ object.price }}</p>
                                {% endif %}
                            </div>
                            <form class="form-group col" method="post">
                                {% csrf_token %}
                                <input class="num form-control w-50" id="num{{ book.id }}" type="number" min="1" step="1" max="{{ book.quantity }}" value="1" placeholder="تعداد">
                                <button id="add-button" data-index="{{book.id}}" type="button" class="add-button btn btn-success text-white my-2 w-50" data-abc="true"><i class="fas fa-plus"></i> سبد خرید</button>
                                <input type="hidden" id="Url-add" data-url="{% url 'add_to_basket' %}" />
                            </form>
                        </div>
                    </div>
              </div>
                <p class="card-text"><small class="text-muted">آخرین بروزرسانی: {{ object.updated_at }}</small></p>
            </div>
          </div>
        </div>

    </div>
{% endblock %}